:root {
    /* --primary-clr: #0A192F; */
    --primary-clr:#060807;
    --secondary-clr: #64FFDA;
}
html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, 'Helvetica Neue', sans-serif;
    background-color:var(--primary-clr);
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    border-color: var(--secondary-clr);
    background-color: var(--primary-clr);
}

input:disabled {
    color: #ccc;
}

button {
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    outline: none;
    text-transform:uppercase;
    font-weight: 500;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    
    width: 40%;
}
form >*{
    border-radius: 10px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo >h1{
    margin: 10px;
}
.logo-img{
    fill: var(--secondary-clr);
    width: 50px;
    margin-left: 50px;
}
